#message-app {
    max-width: 100%;
    height: auto;
    margin: 10%;
    background-color: antiquewhite;
    border-style: outset;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

#app-container {
    display: flex;
    flex-direction: row;
}

#messages-container {
    width: 70%;
}

p {
    text-align: center;
    font: 24px Helvetica, Arial;
}

#messages-scrollbar {
    background-color: aliceblue;
    position: absolute;
    width: 53%;
    min-height: 60%;
    max-height: 60%;
    overflow-x: hidden;
    overflow-y: auto;
    margin-top: 5px;
}

#messages {
    list-style-type: none; 
    margin: 0; 
    padding: 0;
}

#messages li {
    word-wrap: break-word;
}

#users-container {
    width: 30%;
}

#users-scrollbar {
    background-color: lavenderblush;
    position: absolute;
    width: 23.5%;
    min-height: 60%;
    max-height: 60%;
    overflow-x: hidden;
    overflow-y: auto;
    margin-top: 5px;
}

#users {
    list-style-type: none; 
}

#users li {
    word-wrap: break-word;
}

#users li::before {
    content: "\2022";
    color: green;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

#message-form {
    width: 100%;
    position: fixed;
    bottom: 10%;
    border-style: double;
    border-width: 5px;
    max-width: 77%;
    display: flex;
}

#user-message {
    padding: 15px;
    width: 95%;
} 